input {
    margin-bottom: 25px;
}

.spanish {
    color: white;
}

.background {
    position: fixed;
    height: 100vh;
    width: 100vw;
}

.img {
    width: 80%;
}

.header h1 {
    color: cornflowerblue;
    margin-top: 5px;
}

.tableHead {
    color: cornflowerblue;
    border: 1px red solid;
}

tr:nth-child(even) {
    color: red;
    background-color: black;
}

tr:nth-child(odd) {
    background-color: purple;
}

tr:nth-child(odd) td {
    background-color: #999;
    color: black;
    font-weight: bold;
}